/* GlkOte stylesheet for Quixe/I7 Template
 * Designed by Andrew Plotkin <erkyrath@eblong.com>
 * <http://eblong.com/zarf/glk/glkote.html>
 * <http://eblong.com/zarf/glulx/quixe/>
 * 
 * Edited by Nathanaël Marion to add VS Code theming.
 * 
 * This CSS stylesheet is in the public domain. Do whatever you want
 * with it.
 */

/* TODO: Add styles for high-contrast themes. */


:root {
	--selection-background: var(--vscode-terminal-selectionBackground);

	--color: var(--vscode-foreground);
	--font-size: var(--vscode-editor-font-size);
	--font-family: Georgia, "Times New Roman", Times, serif;
	--font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--line-height: 1.4;

	--gameport-background: var(--vscode-editor-background);
	--gameport-color: var(--vscode-editor-foreground);

	--error-pane-background: var(--vscode-inputValidation-errorBackground);
	--error-pane-border: var(--vscode-inputValidation-errorBorder);
	--error-pane-color: var(--vscode-inputValidation-errorForeground);

	--warning-pane-background: var(--vscode-inputValidation-infoBackground);
	--warning-pane-border: var(--vscode-inputValidation-infoBorder);
	--warning-pane-color: var(--vscode-inputValidation-infoForeground);

	--window-background: var(--vscode-editor-background);

	--buffer-window-font-family: var(--font-family);
	--buffer-window-font-size: var(--font-size);
	--buffer-window-line-height: var(--line-height);

	--grid-window-background: var(--vscode-activityBar-background);
	--grid-window-color: var(--vscode-activityBar-foreground);
	--grid-window-font-family: var(--font-family-monospace);
	--grid-window-font-size: var(--font-size);

	--more-prompt-background: var(--vscode-statusBar-background);
	--more-prompt-color: var(--vscode-statusBar-foreground);

	--previous-mark-background: var(--vscode-editorRuler-foreground);

	--style-blockquote-background: var(--vscode-textBlockQuote-background);
	--style-blockquote-color: var(--vscode-foreground);

	--style-input-color: var(--vscode-editorWarning-foreground);
}

::selection {
	background-color: var(--selection-background);
}

body {
	color: var(--color);
	font-family: var(--font-family);
	margin: 0px;
	height: 100%;
	padding: 0;
}

#reload-webview {
	position: fixed;
	bottom: 10px;
	right: 15px;
	box-sizing: border-box;
	border: none;
	font-family: inherit;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	padding: 0.1em 0.75em;
	min-width: 8ch;
	min-height: 44px;
	text-align: center;
}

#reload-webview:hover, #reload-webview:active {
	background-color: var(--vscode-button-hoverBackground);
}

#reload-webview:focus {
	outline: var(--vscode-button-background) solid 2px;
	outline-offset: 2px;
}

#gameport {
	color: var(--gameport-color);
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: var(--gameport-background);
	margin: 0;
}

#windowport {
	width: 100%;
	height: 100%;
}

#errorpane {
	position: absolute;
	top: 0px;
	width: 100%;
	background: var(--error-pane-background);
	color: var(--error-pane-color);
	border-bottom: 3px solid var(--error-pane-border);
}

/* TODO: Since inline styles are disabled in the custom editor by the CSP, here's a very hacky way to hide to the error pane while it has style="display:none;".
TODO: Find something better? :) */
#errorpane[style~="display:none;"] {
	display: none !important;
}

#errorpane.WarningPane {
	background: var(--warning-pane-background);
	color: var(--warning-pane-color);
	border-bottom: 3px solid var(--warning-pane-border);
}

#errorpane:hover {
	opacity: 0.2;
}

#errorcontent {
	font-size: var(--buffer-window-font-size);
	padding: 1em;
	text-align: center;
}

#loadingpane {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 20%;
}

.WindowFrame {
	/* This class provides the default background color of windows. You can change that, but don't touch the position or margin. */
	position: absolute;
	margin: 0px;
	background: var(--window-background);
}

.BufferWindow {
	overflow: scroll; /* vertical scrollbar is mandatory */
	overflow-x: hidden; /* but horizontal scrollbar is forbidden */
	font-family: var(--buffer-window-font-family);
	font-size: var(--buffer-window-font-size);
	line-height: var(--buffer-window-line-height);
	padding: 6px 10px 6px 10px;
}

.BufferLine {
	white-space: pre-wrap; /* required for spaces to work right */
}

.GridWindow {
	color: var(--grid-window-color);
	background: var(--grid-window-background);
	overflow: hidden;
	font-family: var(--grid-window-font-family);
	font-size: var(--grid-window-font-size);
	padding: 6px 10px 6px 10px;
}

.GridLine {
	white-space: pre; /* required for spaces to work right */
}

.InvisibleCursor {
	/* This provides the padding below the last line of text (and the input prompt). Without this, they'd be flush against the bottom of the window, which would be ugly. Do not modify this CSS class. */
	position: relative;
	padding-bottom: 14px;
}

.MorePrompt {
	/* This describes the "More" prompt that flashes in the bottom right corner of a window when it needs paging. */
	font-weight: bold;
	position: absolute;
	background: var(--more-prompt-background);
	color: var(--more-prompt-color);
	opacity: 0.5;
	padding: 2px 6px;
	border-radius: 4px;
}

.PreviousMark {
	/* This describes the small horizontal mark that appears in a window when it needs paging. */
	position: absolute;
	background: var(--previous-mark-background);
	height: 4px;
	width: 12px;
	top: 0px;
	right: 0px;
}

.Input {
	/* This class mimicks the Style_input class. It also eliminates the usual decoration of an <input> field, as much as possible. */
	color: var(--style-input-color);
	border: none;
	margin: 0px;
	padding: 0px;
	outline-width: 0px;
	outline-style: none;
	background: none;
	font-weight: bold;
}

.Input:focus {
	outline: 0;
}

.BufferWindow .Input {
	font-family: var(--buffer-window-font-family);
	font-size: var(--buffer-window-font-size);
}

.GridWindow .Input {
	font-family: var(--grid-window-font-family);
	font-size: var(--grid-window-font-size);
}

/* The following are used for image alignment (in buffer windows). */

.ImageMarginLeft {
	float: left;
	margin-right: 0.5em;
}

.ImageMarginRight {
	float: right;
	margin-left: 0.5em;
}

.ImageInlineDown {
	vertical-align: text-top;
}

.ImageInlineUp {
	vertical-align: text-bottom;
}

.ImageInlineCenter {
	vertical-align: middle;
}

.FlowBreak {
	clear: both;
}

.GraphicsWindow canvas {
	display: block;
	background-color: white;
}

/* The following are the standard Glk styles. */

.Style_normal {
}

.Style_emphasized {
	font-style: italic;
}

.Style_preformatted {
	font-family: var(--font-family-monospace);
}

.Style_header {
	font-weight: bold;
}

.BufferWindow .Style_header {
	font-size: 1.2em;
}

.Style_subheader {
	font-weight: bold;
}

.Style_alert {
	font-style: italic;
	font-weight: bold;
}

.Style_note {
	text-decoration: underline;
}

.Style_blockquote {
	background: var(--style-blockquote-background);
	color: var(--style-blockquote-color);
}

.Style_input {
	font-weight: bold;
	color: var(--style-input-color);
	color: var(--style-input-color);
}

.Style_user1 {
}

.Style_user2 {
}

/* End of GlkOte default stylesheet. */
