:root {
	--selection-background: var(--vscode-editor-selectionBackground);
	--selection-color: var(--vscode-editor-selectionForeground);

	--background: var(--vscode-editor-background);
	--color: var(--vscode-foreground);
	--font-size: var(--vscode-editor-font-size);
	--font-family: Georgia, "Times New Roman", Times, serif;
	--line-height: 1.4;

	--link-color: var(--vscode-textLink-foreground);
	--link-color-active: var(--vscode-textLink-activeForeground);

	--statusbar-background: var(--vscode-titleBar-activeBackground);
	--statusbar-color: var(--vscode-titleBar-activeForeground);
	--statusbar-shadow-color: var(--vscode-widget-shadow);

	--style-input-color: var(--vscode-editorWarning-foreground);

	--info-background: var(--vscode-inputValidation-infoBackground);
	--info-border: var(--vscode-inputValidation-infoBorder);
	--info-color: var(--vscode-inputValidation-infoForeground);

	font-size: var(--font-size);
}

::selection {
	color: var(--selection-color);
	background: var(--selection-background);
}

*, ::before, ::after {
	box-sizing: border-box;
}

[hidden] {
	display: none !important;
}

body {
	background: var(--background);
	color: var(--color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	margin: 0px;
	height: 100%;
	padding: 0;
}

a, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

a[href] {
	color: var(--link-color);
}

a[href]:hover, a[href]:active {
	color: var(--link-color-active);
	text-decoration: underline 1px;
}

[title]:not(a) {
	text-decoration: underline dotted 2px;
}

meter {
	display: block;
	width: auto;
}

meter::-webkit-meter-optimum-value {
	background-color: var(--vscode-progressBar-background);
}

meter::-webkit-meter-bar {
	border-color: var(--vscode-notifications-border);
	background-color: transparent;
}

.status-bar-wrapper {
	background: var(--statusbar-background);
	box-shadow: 0 0 8px 2px var(--statusbar-shadow-color);
	display: flex;
	flex-direction: column;
	padding-inline: 0.5rem;
	min-height: 44px;
	justify-content: center;
}

#top-status-bar-wrapper {
	position: sticky;
	top: 0px;
}

#main {
	line-height: var(--line-height);
	margin-left: auto;
	margin-right: auto;
	padding-block-end: 1em;
	width: min(100% - 2.5rem, 60ch);
	word-wrap: break-word;
}

#input {
	display: inline-block;
	/* The input should take the rest of the last line of the block it is in (the prompt precedes it). We could use JavaScript, but instead we'll just set a width of slightly less that 100% to leave space for the prompt. It's good enough. */
	width: 70%;
	/* And now we remove the default styling of text inputs. */
	background: none;
	border: none;
	color: var(--style-input-color);
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	margin: 0;
	padding: 0;
	outline: 0;
}

.trace {
	color: var(--info-color);
	background-color: var(--info-background);
	border: var(--info-border) solid 1px;
	padding-block: 0.2em;
	padding-inline: 0.3em;
	margin-block: 0.25em;
}

#reload-webview {
	position: fixed;
	bottom: 10px;
	right: 15px;
	box-sizing: border-box;
	border: none;
	font-family: inherit;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	padding: 0.1em 0.75em;
	min-width: 8ch;
	min-height: 44px;
	text-align: center;
}

#reload-webview:hover, #reload-webview:active {
	background-color: var(--vscode-button-hoverBackground);
}

#reload-webview:focus {
	outline: var(--vscode-button-background) solid 2px;
	outline-offset: 2px;
}

p {
	margin: 0;
}

p + p {
	margin-block-start: 1em;
}

.spacer {
	white-space: pre-wrap;
}
