/* TODO: Add styles for high-contrast themes. */

/* Defaults. */

:root {
	--selection-background: var(--vscode-editor-selectionBackground);
	--selection-color: var(--vscode-editor-selectionForeground);

	--background: var(--vscode-editor-background);
	--color: var(--vscode-foreground);
	--font-size: var(--vscode-editor-font-size);
	--font-family: Georgia, "Times New Roman", Times, serif;
	--line-height: 1.4;

	--navbar-background: var(--vscode-titleBar-activeBackground);
	--navbar-color: var(--vscode-titleBar-activeForeground);
	--navbar-hover-background: var(--vscode-menubar-selectionBackground);
	--navbar-hover-color: var(--vscode-menubar-selectionForeground);
	--navbar-shadow-color: var(--vscode-widget-shadow);

	--turn-border-color: var(--vscode-textSeparator-foreground);

	--tag-border: var(--vscode-editorCodeLens-foreground);
	--tag-color: var(--vscode-editorCodeLens-foreground);

	--info-background: var(--vscode-inputValidation-infoBackground);
	--info-border: var(--vscode-inputValidation-infoBorder);
	--info-color: var(--vscode-inputValidation-infoForeground);

	--warning-background: var(--vscode-inputValidation-warningBackground);
	--warning-border: var(--vscode-inputValidation-warningBorder);
	--warning-color: var(--vscode-inputValidation-warningForeground);

	--error-background: var(--vscode-inputValidation-errorBackground);
	--error-border: var(--vscode-inputValidation-errorBorder);
	--error-color: var(--vscode-inputValidation-errorForeground);

	font-size: var(--font-size);
}

::selection {
	color: var(--selection-color);
	background: var(--selection-background);
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	margin: 0px;
	height: 100%;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* The navbar. */

#navbar {
	background: var(--navbar-background);
	box-shadow: 0 0 8px 2px var(--navbar-shadow-color);
	display: flex;
	padding-block-start: 2px;
	padding-inline: 0.5rem;
	min-height: 44px;
	position: sticky;
	top: 0px;
	z-index: 10;
}

#navbar > button {
	border: none;
	font-family: inherit;
	padding: 0;
	padding-inline: .75em;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	color: var(--navbar-color);
}

#navbar > *:last-child {
	margin-inline-start: auto;
}

#navbar > button:hover, #navbar > button:active, #navbar > button:focus {
	background: var(--navbar-hover-background);
	color: var(--navbar-hover-color);
}

/* The story's contents. */

main {
	line-height: var(--line-height);
	margin-left: auto;
	margin-right: auto;
	padding-block-end: 1em;
	width: min(100% - 2.5rem, 60ch);
	word-wrap: break-word;
}

/* - Turns. */

.turn {
	padding-block: 1rem;
}

.turn:not(:last-child) {
	border-bottom: var(--turn-border-color) solid 1px;
}

.turn > * {
	margin: 0;
}

.turn > *:not(:first-child) {
	margin-block-start: 1rem;
}

/* - Tag lists. */

.tags {
	color: var(--tag-color);
	display: flex;
	flex-wrap: wrap;
	font-size: calc(var(--font-size) * 0.9);
	line-height: 1.2;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1.25rem;
	position: relative;
}

.tags::before {
	border-left: var(--tag-border) solid 1px;
	border-top: var(--tag-border) solid 1px;
	content: "";
	display: block;
	height: 100%;
	left: .5em;
	position: absolute;
	top: .5em;
	width: .5em;
}

.tags > * {
	margin-inline-end: 1.5ch;
}

/* Alerts. */

.info {
	background: var(--info-background);
	border: var(--info-border) 1px solid;
	color: var(--info-color);
	padding: .8em;
}

.warning {
	background: var(--warning-background);
	border: var(--warning-border) 1px solid;
	color: var(--warning-color);
	padding: .8em;
}

.error {
	background: var(--error-background);
	border: var(--error-border) 1px solid;
	color: var(--error-color);
	padding: .8em;
}
